:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

:root {
  --color-on-surface-variant: #45464d;
  --color-surface-bright: #f7f9fb;
  --color-background: #f7f9fb;
  --color-on-secondary-fixed-variant: #003ea8;
  --color-surface-dim: #d8dadc;
  --color-on-tertiary-fixed: #001a42;
  --color-primary-fixed-dim: #bec6e0;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-secondary: #ffffff;
  --color-outline: #76777d;
  --color-secondary-fixed-dim: #b4c5ff;
  --color-outline-variant: #c6c6cd;
  --color-primary-fixed: #dae2fd;
  --color-secondary-container: #316bf3;
  --color-tertiary-fixed-dim: #adc6ff;
  --color-surface-container-high: #e6e8ea;
  --color-primary-container: #131b2e;
  --color-inverse-primary: #bec6e0;
  --color-on-tertiary-fixed-variant: #004395;
  --color-surface-container-lowest: #ffffff;
  --color-on-tertiary-container: #3980f4;
  --color-inverse-surface: #2d3133;
  --color-surface-container: #eceef0;
  --color-on-primary-container: #7c839b;
  --color-on-surface: #191c1e;
  --color-on-primary: #ffffff;
  --color-surface: #f7f9fb;
  --color-on-tertiary: #ffffff;
  --color-on-error-container: #93000a;
  --color-on-secondary-fixed: #00174b;
  --color-on-primary-fixed-variant: #3f465c;
  --color-surface-variant: #e0e3e5;
  --color-surface-container-highest: #e0e3e5;
  --color-tertiary: #000000;
  --color-tertiary-fixed: #d8e2ff;
  --color-on-background: #191c1e;
  --color-surface-tint: #565e74;
  --color-tertiary-container: #001a42;
  --color-secondary: #0051d5;
  --color-secondary-fixed: #dbe1ff;
  --color-surface-container-low: #f2f4f6;
  --color-on-secondary-container: #fefcff;
  --color-inverse-on-surface: #eff1f3;
  --color-error: #ba1a1a;
  --color-primary: #000000;
  --color-on-primary-fixed: #131b2e;
}

.dark {
  --color-on-surface-variant: #c4c6d0;
  --color-surface-bright: #38393e;
  --color-background: #111315;
  --color-on-secondary-fixed-variant: #b4c5ff;
  --color-surface-dim: #111315;
  --color-on-tertiary-fixed: #d8e2ff;
  --color-primary-fixed-dim: #bec6e0;
  --color-on-error: #690005;
  --color-error-container: #93000a;
  --color-on-secondary: #00297a;
  --color-outline: #8f9099;
  --color-secondary-fixed-dim: #316bf3;
  --color-outline-variant: #45464d;
  --color-primary-fixed: #dae2fd;
  --color-secondary-container: #003ea8;
  --color-tertiary-fixed-dim: #adc6ff;
  --color-surface-container-high: #282a2f;
  --color-primary-container: #3f465c;
  --color-inverse-primary: #565e74;
  --color-on-tertiary-fixed-variant: #adc6ff;
  --color-surface-container-lowest: #090b0d;
  --color-on-tertiary-container: #d8e2ff;
  --color-inverse-surface: #e2e2e6;
  --color-surface-container: #1d1f24;
  --color-on-primary-container: #dae2fd;
  --color-on-surface: #e2e2e6;
  --color-on-primary: #283044;
  --color-surface: #111315;
  --color-on-tertiary: #00297a;
  --color-on-error-container: #ffdad6;
  --color-on-secondary-fixed: #dbe1ff;
  --color-on-primary-fixed-variant: #bec6e0;
  --color-surface-variant: #45464d;
  --color-surface-container-highest: #33353a;
  --color-tertiary: #b4c5ff;
  --color-tertiary-fixed: #d8e2ff;
  --color-on-background: #e2e2e6;
  --color-surface-tint: #bec6e0;
  --color-tertiary-container: #003ea8;
  --color-secondary: #b4c5ff;
  --color-secondary-fixed: #dbe1ff;
  --color-surface-container-low: #191b20;
  --color-on-secondary-container: #dbe1ff;
  --color-inverse-on-surface: #2d3133;
  --color-error: #ffb4ab;
  --color-primary: #bec6e0;
  --color-on-primary-fixed: #dae2fd;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

.counter {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--accent);
  background: var(--accent-bg);
  border: 2px solid transparent;
  transition: border-color 0.3s;
  margin-bottom: 24px;

  &:hover {
    border-color: var(--accent-border);
  }
  &:focus-visible {
    outline: 2px solid var(--accent);
    outline-offset: 2px;
  }
}

.hero {
  position: relative;

  .base,
  .framework,
  .vite {
    inset-inline: 0;
    margin: 0 auto;
  }

  .base {
    width: 170px;
    position: relative;
    z-index: 0;
  }

  .framework,
  .vite {
    position: absolute;
  }

  .framework {
    z-index: 1;
    top: 34px;
    height: 28px;
    transform: perspective(2000px) rotateZ(300deg) rotateX(44deg) rotateY(39deg)
      scale(1.4);
  }

  .vite {
    z-index: 0;
    top: 107px;
    height: 26px;
    width: auto;
    transform: perspective(2000px) rotateZ(300deg) rotateX(40deg) rotateY(39deg)
      scale(0.8);
  }
}

#app {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;

  @media (max-width: 1024px) {
    padding: 32px 20px 24px;
    gap: 18px;
  }
}

#next-steps {
  display: flex;
  border-top: 1px solid var(--border);
  text-align: left;

  & > div {
    flex: 1 1 0;
    padding: 32px;
    @media (max-width: 1024px) {
      padding: 24px 20px;
    }
  }

  .icon {
    margin-bottom: 16px;
    width: 22px;
    height: 22px;
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    text-align: center;
  }
}

#docs {
  border-right: 1px solid var(--border);

  @media (max-width: 1024px) {
    border-right: none;
    border-bottom: 1px solid var(--border);
  }
}

#next-steps ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;
  margin: 32px 0 0;

  .logo {
    height: 18px;
  }

  a {
    color: var(--text-h);
    font-size: 16px;
    border-radius: 6px;
    background: var(--social-bg);
    display: flex;
    padding: 6px 12px;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: var(--shadow);
    }
    .button-icon {
      height: 18px;
      width: 18px;
    }
  }

  @media (max-width: 1024px) {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;

    li {
      flex: 1 1 calc(50% - 8px);
    }

    a {
      width: 100%;
      justify-content: center;
      box-sizing: border-box;
    }
  }
}

#spacer {
  height: 88px;
  border-top: 1px solid var(--border);
  @media (max-width: 1024px) {
    height: 48px;
  }
}

.ticks {
  position: relative;
  width: 100%;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -4.5px;
    border: 5px solid transparent;
  }

  &::before {
    left: 0;
    border-left-color: var(--border);
  }
  &::after {
    right: 0;
    border-right-color: var(--border);
  }
}
